.h1{
    text-align: center;
}
.error{
    color: red;
}
.Fm{
    position: absolute;
    top: 100px;
    align-content: center;
    left:  500px;
    
}
.btn{
    border-radius: 5px;
}
.input{
    border-radius: 5px;
   
}
